body {
    color: hsl(221, 85%, 40%);
    background-color: rgb(220, 239, 245);
    
   }
.jumbotron {
    
    background-image: url("Micro_Organisms.jpg");
    opacity: .9;
    color: rgb(0, 0, 0);
        
}